<ion-header>
  <ion-toolbar id="titular">
    <ion-img slot="start" class="imagenes" src="assets/images/Logo.png"></ion-img>
    <ion-title>
      Te llevo App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="lg" class="container mt-5">
    <h2>Por favor ingrese</h2>
    <br>
    <ion-list>
      <ion-item>
        <ion-label class="user" position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" class="usuario" type="text" placeholder="Ingrese Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label id="contraseña" class="pass" position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="pass" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-button (click)="ingreso()" class="boton" shape="block">Ingresar</ion-button>
      <br>
      <a [routerLink]="['/register']">Crear cuenta</a>
      <br>
      <a [routerLink]="['/re-password']">Recuperar Contraseña</a>
    </ion-list>

    <img src="assets/images/auto.gif">

    <!--Modal-->
    
    <ion-button id="open-modal" expand="block">Versiones</ion-button>
    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <h2>ANGULAR</h2>
                <p>16.1.4</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>Ionic</h2>
                <p>7.1.1</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>Node</h2>
                <p>v18.16.0</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>