<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PASAJERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="destinoUser" position="floating">Ingrese Destino</ion-label>
    <ion-input [(ngModel)]="formViaje.destino" class="destinoUsuario" type="text" placeholder="Ingrese su destino"></ion-input>
    <span *ngIf="showErrorDestino" style="color: red;">Destino invalido</span>
  </ion-item>
  <ion-item>
    <ion-label class="destinoUser" position="floating">Punto de Partida</ion-label>
    <ion-input  [(ngModel)]="formViaje.partida" class="destinoUsuario" type="text" placeholder="Ingrese partida"></ion-input>
    <span *ngIf="showErrorPartida" style="color: red;">Destino invalido</span>
  </ion-item>

  <img src="assets/images/rutaPasajero.jpg">


  <ion-button (click)="viaje()" class="boton">Solicitar</ion-button>

  <ion-button class="BotonC" color="Danger" [routerLink]="['/home']">Cancelar</ion-button>

</ion-content>