<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PASAJERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Bienvenido pasajero, a continuación verá un listado de vehiculos disponibles con su información correspondiente</h1>

  <div *ngFor="let autos of Autos" class="container card">
    <ion-card>
      <div class="card-header">
        <h2> Patente: {{autos.patente}}</h2>
      </div>
      <div class="card-body">
    
        <div style="display: flex; align-items: center;">
          
          <div class="contenido" style="margin-left: 10px;">
            <h5 class="info">Destino: {{autos.destino}}</h5>
            <h5 class="info">Cantidad de pasajeros: {{autos.cantPasajeros}}</h5>
            <h5 class="info">Precio: ${{autos.precio}}</h5>
    
          </div>
          
        </div>

        <ion-button (click)="viaje()" class="boton">Solicitar</ion-button>

      </div>
    </ion-card>

  </div>

  <ion-button routerLink="/home" color="danger" expand="block" shape="round">
    Cancelar
  </ion-button>

</ion-content>