<ion-header>
  <ion-toolbar id="titular">
    <ion-img slot="start" class="imagenes" src="assets/images/login.svg"></ion-img>
    SkeletonApp
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="lg" class="container mt-5">
    <h2>Bienvenido!</h2>
    <br>
    <ion-list>
      <ion-item>
        <ion-label class="user" position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="formLogin.nombre" class="usuario" type="text" placeholder="Ingrese su usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label id="contraseña" class="pass" position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="formLogin.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-button (click)="login()" class="boton" shape="block">Ingresar</ion-button>
      <br>
      <a [routerLink]="['/register']">Crear cuenta</a>
    </ion-list>
  </div>
</ion-content>