#titular{
    color: #3880ff;
    text-align: center;
}

.imagenes{
    width: 8vh;
}

#lg{

    text-align: center;

    h2{
        color: goldenrod;
    }
    text-align: center;
    
    .user{
        color: goldenrod;
    }
    .pass{
        color: goldenrod;
    }
}

.boton{
    color: black;
}