<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label class="InEmail" position="floating">Ingrese Email</ion-label>
        <ion-input [(ngModel)]="formRecuperar.email" class="InEmail" type="text" placeholder="Ingrese Email"></ion-input>
        <span *ngIf="showErrorEmail" style="color: red;">Email invalido</span>
      </ion-item>

      <ion-item>
        <ion-label class="InEmail" position="floating">Ingrese nueva contraseña</ion-label>
        <ion-input [(ngModel)]="formRecuperar.password" class="InEmail" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox class="checkEmail"></ion-checkbox>
        <ion-label  class="checkEmail">Acepto condiciones para recuperar contraseña</ion-label>
      </ion-item>
      <ion-button class="botonRecuperar" (click)="recuperar()" shape="block">Recuperar</ion-button>
    </ion-list>
</ion-content>
