<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Bienvenid@, {{mensaje}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button (click)="verStorage()">Ver datos Storage</ion-button>-->
  <h3>Elija su rol a continuación:</h3>
  <br>
  <div class="container">
    <ion-button>
      <ion-card [routerLink]="['/conductor']">
        <img src="assets/images/conductor.svg">
        <ion-card-header>
          <ion-card-title class="imagenBoton">Conductor</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-button>

    <ion-button>
      <ion-card [routerLink]="['/pasajero']">
        <img src="assets/images/pasajero.svg">
        <ion-card-header>
          <ion-card-title class="imagenBoton">Pasajero</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-button>
  </div>

  <ion-button class="boton" color="Danger" [routerLink]="['/login']">Cerrar sesión</ion-button>
</ion-content> 