#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.imagenBoton{
  margin-top: 8px;
  height: 27px;
}

.boton{
  background-color: rgb(235, 106, 106);
  width: 23vh;
}

@keyframes move-and-fade {
  /* El título se mueve a la derecha hasta el 100% de su ancho */
  55% {
    transform: translateX(100%);
    opacity: 0.0;
  }
  /* El título se vuelve semi-transparente */
  80% {
    opacity: 0.2;
  }
  /* El título se mueve a la izquierda hasta el -50% de su ancho */
  75% {
    transform: translateX(-50%);
    opacity: 0;
  }
  /* El título vuelve a su posición inicial */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-title {
  animation: move-and-fade 2.5s infinite;
  /* Asumiendo que el título está centrado inicialmente */
  transform: translateX(0);
}