<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenid@ {{mensaje}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="verStorage()">Ver datos Storage</ion-button>
  <br>
  <ion-button [routerLink]="['/login']">Cerrar sesión</ion-button>
  <br>
  <ion-button color="danger" (click)="mostrarAsesores()">Mostrar Asesores</ion-button>

  <ion-list>
    <ion-item>
      <ion-label>Rut: </ion-label>
      <ion-label>Nombre Completo: </ion-label>
    </ion-item>
    <ion-item *ngFor="let asesor of listaAsesores">
      <ion-label> {{asesor.rut}}</ion-label>
      <ion-label> {{asesor.nombre_completo}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
