<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viaje comenzado!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Su viaje ha comenzado!!</ion-card-title>
      <ion-card-subtitle>Esperemos que llegue bien a su destino, a continuación vera los datos de su viaje:</ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>
  <ion-img class="imagen" src="../../../assets/images/Ruta.jpeg"></ion-img>
  <br>  
  <div class="container">
    <ion-button class="boton" color="Danger" [routerLink]="['/finalizacion']">Terminar viaje</ion-button>
  </div>
</ion-content>
